<h3>Bienvenido!!</h3>

<div class="row">
    <div class="col s12 m7">
    
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>Registrar Empleado</p>
            </div>
            <div class="card-action">
              <a routerLink="../administracion/crear-empleado">IR</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>Editar Empleado</p>
            </div>
            <div class="card-action">
              <a routerLink="../administracion/editar-empleado">IR</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col s12 m7">
        
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>Eliminar empleado</p>
            </div>
            <div class="card-action">
              <a routerLink="../administracion/eliminar-empleado">IR</a>
            </div>
          </div>
        </div>
      </div>
</div>


